.auditContent {
	font-weight: normal;
	padding-top:10px;	
}
.dashboradAds {
	text-align: center;
	margin-top:40px;
}

img.bender {
	max-width: 400px;
}

.footer {
	text-align: center;
	padding: 30px 0;
	margin-top: 70px;
	border-top: 1px solid #ccc;
	background-color: whiteSmoke;
}

.footer p {
	color: #777;
}

#userContainer.row-fluid,.itemAggregation {
	border-bottom: 1px solid #ccc;
}

.left-bordered {
	border-left: 1px solid #ccc;
}

.right-bordered {
	border-right: 1px solid #ccc;
}

#projectContainer.row-fluid {
	margin-top: 40px;
}

.itemBox {
	min-height: 48px;
	background: #fcfcfc;
	cursor: pointer;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	margin: 4px;
}

.itemBox.selected {
	background: #e3eff6;
}

.itemBox .topPadding {
	padding-top: 4px;
}

.itemBoxId {
	padding-top: 6px;
	padding-left: 8px;
}

.itemTabsContainer .nav-tabs .active a,
.itemTabsContainer .nav-tabs .active a:hover {
	background: #fbfbfb;
}

.settingContainer .setting-content {
	min-height: 400px;
}
.settingContainer .setting-group {
	margin-left: 25px;
	padding-bottom:25px;
}

.shortDesc {
	font-size: 1.5em;
	padding: 3px;
}

.notes,.ez-breadcrumb {
	font-size: 0.85em;
	padding-left: 10px;
}

.updateProgressModal dt,.updateProgressModal dd,.updateItemModal dt,.updateItemModal dd {
	line-height: 30px;
}

.comment {
  position: relative;
  margin: 13px 0;
  padding: 3px 0px 13px 3px;
  *padding-top: 3px;
  background: #fcfcfc;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.comment .commentUser {
	font-weight: bold;
	margin-left: 6px;
}

.comment pre {
	border: none;
	padding-right:10px;
	background: #fcfcfc;
	word-break: normal;
}
.container-fluid .comment {
	width:99%;
}

.pointerMouse {
	cursor: pointer;
}